.quiz-container {
    margin: 10px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.question {
    margin-bottom: 15px;
}

.options {
    margin-top: 5px;
}

.options label {
    display: block;
    margin-bottom: 5px;
}

.options input[type="radio"] {
    margin-right: 5px;
}
